@import 'lib/normalize';
@import 'lib/bootstrap';
@import 'lib/bootstrap-theme';
@import 'lib/flat-ui';
@import 'lib/blueimp-gallery';
@import 'modules/variables';
@import 'modules/misc';


body {
    padding: 5px;
}

.menu {
    height: 100%;  
	position: static;

    .logo {
	    border-top: 5px solid $color-primary;

	    h1 {
		    font-size: 2em;
		    margin: 0;
		}

		h3 {
		    font-size: 1.6em;
		    text-align: right;
		    color: #999;
		}
	}

	ul {
		padding: 15px 0;
	    list-style: none;
	    padding-left: 0;
		// border: 1px solid $color-secondary;
		// border-width: 1px 0px;
	    li {
		    padding: 5px 0 5px 5px;
			// border-right: 1px solid $color-secondary;
			display: inline;
		    a {
			    color: #000;
			    font-weight: lighter;
			    font-size: 0.9em;
				text-transform: uppercase;
			}
		}

		li:not(:last-child):after {
			content: '•';
			padding-left: 5px;
		}
	}

}

a.album, a.expo {
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;

    h2 {
	    color: black;
	    font-weight: lighter;
      font-size: 2.0em;
	}
}

a.album {
  border-top: 5px solid $color-secondary;
}

a.expo {
  border-top: 5px solid $color-tertiary;
}

a.art-thumbnail {
    border-bottom: 1px solid $color-primary;
    margin: 30px 0px 0px;
    display: block;
    width: 100%;

    img{
	    width: 100%;
	    height: auto;
	}

	p {
	    width: 100%;
	    text-align: center;
	    color: black;
	    font-weight: lighter;
	    font-size: 0.8em;
	    margin: 10px 0;
	}
}

div.expo {
  color: black;
  font-weight: lighter;
  padding: 0 40px;
}

div.header {
  color: black;
  font-weight: lighter;
  padding-bottom: 20px;
  margin: 0;
}

.spacer {
  margin: 50px;
}

div.message-container {
  max-height: 0;
  height: auto;
  transition: max-height 1s;
  overflow: hidden;
  &.expanded {
    max-height: 400px;
  }

}

a#contact {
  cursor: pointer;
}

div.copyright {
  padding: 50px 0 0 0;
  font-weight: lighter;
  font-size: 0.8em;
  color: #999;
}
