/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {

}

header {
    background-color: #edeff1;
    color: #bac1c8;
}

.main {
    padding: 15px;
}

.art-row {
    /*height: 200px;*/
    overflow: hidden;
    padding-bottom: 15px;
    /*display: table;*/
}

.art-row>div {
    /*height: 200px;*/
    overflow: hidden;
}

.logo {
    background-color: #edeff1;
    padding: 5px 10px;   
    border-radius: 4px;
}

.logo h1 {
    font-size: 3em;
}

.logo h3 {
    font-size: 2em;
    text-align: right;
    color: #999;
}

.grey {
    background-color: #ccc;
}

.art-frame {
  /*  overflow: hidden;
    height: 200px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 10px 0;
    border: 1px #ddd solid;
    border-radius: 4px;*/
}

.art-frame.album {
    /*background-color: #dedede;
    border-radius: 3px;*/
    padding: 10px;
    text-align: center;
}

/*.art-frame>div {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}*/

/*.art-frame span {
    font-weight: bold;
}
*/

.album {
    text-align: center;
    background-color: #edeff1;
    padding: 5px 10px;   
    border-radius: 4px;
}

.thumbnail {
    text-align: center;
    display: inline-block;
}

.thumbnail img{
    /*width: 80%;
    height: auto;
    max-height: 180px;*/
    /*cursor: pointer;*/
}

.thumbnail span {

}